* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #1e303d;
}

.map-container {
    height: 700px;
}

#map {
    height: 100%;
}

#form-section {
    margin: 50px 0;
}

label {
    color: #eeeeee;
}